DPTutils/src/main/resources/apeMETSRights.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with Oxygen 15.0, build 2013071613, www.oxygenxml.com by Kerstin Arnold
     (Federal Archives of Germany / APEx project) in November 2013; based on the 
     RightsDeclarationMD Extension Schema by Nancy J. Hoebelheinrich (Stanford University Libraries) 
     
     Update in June 2017 by Stefan Papp (Archives Portal Europe); see below for list of changes in this update
-->
<!-- Changes made in comparison to the original schema:
    01. XMLSchema namespace added
    02. RightsDeclarationMD - @type="RightsDeclareMDTYPE" deleted; <xs:element> added
    03. RightsDeclarationMD/Rightsholder - @minOccurs change to ="1", @type="RightsHolderTYPE" deleted, name="" changed to ref=""
    04. RightsDeclarationMD/Context - @minOccurs change to ="1", @type="ContextTYPE" deleted, name="" changed to ref=""
    05. RightsDeclarationMD/@OTHERCATEGORYTYPE - @type="xs:string" deleted and default values added
    06. RightsHolder - name="RightsHolderTYPE" changed to name="RightsHolder"; xs:element added
    07. RightsHolder/RightsHolderName - minOccurs changed to ="1"
    08. RightsHolder/RightsHolderContact - @type="RightsHolderContactTYPE" deleted, name="" changed to ref=""
    09. RightsHolderContact - name="RightsHolderContactTYPE" changed to name="RightsHolderContact"; xs:element added
    10. RightsHolderContact - xs:sequence for subelements changed to xs:choice
    11. RightsHolderContact/RightsHolderContactPhone - name="" changed to ref=""
    12. RightsHolderContact/RightsHolderContactEmail - definition and accompanying annotation moved (from where to where?)
    13. Context - name="ContextTYPE" changed to name="Context"
    14. Context - notes added on values for ConstraintDescription and @otherconstrainttype
    15. Context/UserName - @type="UserNameTYPE" deleted, name="" changed to ref=""
    16. Context/Permissions - @type="PermissionTYPE" and @minOccurs changed to ="1" deleted, name="" changed to ref=""
    17. Context/Constraints - @type="ConstraintsTYPE" deleted, name="" changed to ref=""
    18. UserName - name="UserNameTYPE" changed to name="UserName"
    19. Permissions - name="PermissionsTYPE" changed to name="Permissions"; moved comments with attribute descriptions to proper annotation elements
    20. Constraints - name="ConstraintsTYPE" changed to name="Constraints"
    21. Constraints/ConstraintDeception - xs:complexType with default values added
    22. Constraints/@OTHERCONSTRAINTTYPE - attribute with default value "RESTRICTED ACCESS" has been added specifically for apeMETS
-->
<!-- Changes in June 2017 update:
    01. changed values for attribute RIGHTSCATEGORY; new values are CC0, COPYRIGHTED, PUBLIC DOMAIN, OTHER
    02. changed values for attribute OTHERRIGHTSCATEGORY in order to reflect changes of Europeana licensing categories 
-->
<xs:schema targetNamespace="http://www.archivesportaleurope.net/Portal/profiles/rights/"
    xmlns="http://www.archivesportaleurope.net/Portal/profiles/rights/"
    xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    attributeFormDefault="unqualified">
    <!-- November 2013: XMLSchema namespace added -->
    <xs:element name="RightsDeclarationMD">
        <!-- 04 November 2013: @type="RightsDeclareMDTYPE" deleted; <xs:element> added -->
        <xs:annotation>
            <xs:documentation xml:lang="en">The apeMETSRights schema is meant to be used in conjunction with the apeMETS schema as defined in the context of the Archives Portal Europe (http://www.archivesportaleurope.net/Portal/profiles/apeMETS.xsd). Based on the RightsDeclarationMD Extension Schema it allows the documentation of minimal administrative metadata about the intellectual rights associated with a digital object or its parts.
                
                RightsDeclarationMD contains the following top level elements:
                1. RightsDeclaration: intellectual property rights associated with digital asset or
                part of a digital asset; 2. the mandatory RightsHolder: person or organisation
                holding some intellectual property rights to a given digital asset or part of a
                digital asset; 3. Context: contains a description of specific circumstances
                associated with who has what permissions and constraints. RightsDeclarationMD also
                contains three attributes, "RIGHTSDECID", "RIGHTSCATEGORY" and "OTHERCATEGORYTYPE".
                "RIGHTSDECID provides a unique identifier for the rights declaration described.
                "RIGHTSCATEGORY" specifies whether the resource is COPYRIGHTED, LICENSED, in the
                PUBLIC DOMAIN, CONTRACTUAL, or OTHER which can be more fully described in the
                "OTHERCATEGORYTYPE" attribute.
                
                RightsDeclarationMD also contains mandatory attributes pointing to the apeMETSRights namespace and schema location as well as the namespace for the XML Schema instance:
                xmlns="http://www.archivesportaleurope.net/Portal/profiles/rights/"
                xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                xsi:schemaLocation="http://www.archivesportaleurope.net/Portal/profiles/rights/apeMETSRights.xsd".
                
                Changes for the apeMETSRights schema were made on 04 November 2013. 
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="RightsDeclaration">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">Broad declaration of rights associated with digital asset
                            which would provide the public notice to user community of the
                            intellectual property rights associated with a given asset or part
                            thereof. Further explanation of specific circumstances can be described
                            within the Context element. RightsDeclarationTYPE has no attribute.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="1" maxOccurs="unbounded" ref="RightsHolder">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            apeMETSRights, 04 November 2013: @minOccurs change to ="1", @type="RightsHolderTYPE" deleted, name="" changed to ref="" 
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="1" maxOccurs="unbounded" ref="Context">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            apeMETSRights, 04 November 2013: @minOccurs change to ="1", @type="ContextTYPE" deleted, name="" changed to ref=""
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="RIGHTSDECID" type="xs:string" use="optional"/>
            <xs:attribute name="RIGHTSCATEGORY">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        apeMETSRights, 15 June 2017: default values changed
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="CC0"/>
                        <xs:enumeration value="COPYRIGHTED"/>
                        <xs:enumeration value="PUBLIC DOMAIN"/>
                        <xs:enumeration value="OTHER"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="OTHERCATEGORYTYPE" use="optional">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        apeMETSRights, 04 November 2013: @type="xs:string" deleted and default values added
                        apeMETSRights, 15 June 2017: default values changed
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="EDU-USE"/>
                        <xs:enumeration value="EU-ORPHAN"/>
                        <xs:enumeration value="NC-NON-COMMERCIAL"/>
                        <xs:enumeration value="NC-OTHER-LEGAL-RESTR"/>
                        <xs:enumeration value="NOT-EVALUATED"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="RightsHolder">
        <xs:complexType>
            <xs:annotation>
                <xs:documentation xml:lang="en"> Characteristics of person or institution holding some rights to a
                    given digital asset or part thereof. Has two attributes "RIGHTSHOLDERID" used to
                    uniquely identify the rights holder, and CONTEXTIDS which provides a way to
                    specifically link one or more context situations as described within the CONTEXT
                    element.
                    
                    apeMETSRights, 04 November 2013: name="RightsHolderTYPE" changed to name="RightsHolder"; xs:element added
                </xs:documentation>
            </xs:annotation>
            <xs:sequence>
                <xs:element minOccurs="1" maxOccurs="unbounded" name="RightsHolderName">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">Name of rights holder organization, as identified by the RIGHTSHOLDERID
                            
                            apeMETSRights, 04 November 2013: minOccurs changed to ="1"
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="RightsHolderComments" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>Any comments necessary to explain, not covered elsewhere
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element ref="RightsHolderContact" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            apeMETSRights, 04 November 2013: @type="RightsHolderContactTYPE" deleted, name="" changed to ref=""
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="RIGHTSHOLDERID" type="xs:ID" use="optional"/>
            <xs:attribute name="CONTEXTIDS" type="xs:IDREFS" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="RightsHolderContact">
        <xs:complexType>
            <xs:annotation>
                <xs:documentation>Information about the contact point for rights holder
                    organisation, as identified by the RIGHTSHOLDERID. The contact point for a
                    resource may be an agency or organisation representing the rights holder rather
                    than the rights holder per se. Each RightsHolderContact may contain a
                    RightsHolderContactDesignation element, RightsHolderContactAddress element, a
                    RightsHolderContactPhone element, and a RightsHolderContactEmail element.
                    
                    apeMETSRights, 04 November 2013: name="RightsHolderContactTYPE" changed to name="RightsHolderContact"; xs:element added
                </xs:documentation>
            </xs:annotation>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        apeMETSRights, 04 November 2013: xs:sequence for subelements changed to xs:choice
                    </xs:documentation>
                </xs:annotation>
                <xs:element name="RightsHolderContactDesignation">
                    <xs:annotation>
                        <xs:documentation>Name or title of a contact person or institution holding
                            rights to a given digital asset, as identified by the
                            RIGHTSHOLDERID.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="RightsHolderContactAddress">
                    <xs:annotation>
                        <xs:documentation>Mailing address of contact person or institution holding
                            rights to a given digital asset, as identified by the
                            RIGHTSHOLDERID.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element ref="RightsHolderContactPhone">
                    <xs:annotation>
                        <xs:documentation>Telephone number of contact person or institution holding
                            rights to a given digital asset or part thereof, as identified by the
                            RIGHTSHOLDERID. The PHONETYPE attribute has enumerated values of "FAX",
                            "BUSINESS", and "MOBILE".
                            
                            apeMETSRights, 04 November 2013: name="" changed to ref=""
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="RightsHolderContactEmail">
                    <xs:annotation>
                        <xs:documentation>Email address of contact person or institution holding
                            rights to a digital asset or part thereof, as identified by the
                            RIGHTSHOLDERID.
                            
                            apeMETSRights, 04 November 2013: Definition and annotation moved (from where?)
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:complexType>
    </xs:element>
    <xs:element name="RightsHolderContactPhone">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="PHONETYPE">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="BUSINESS"/>
                                <xs:enumeration value="FAX"/>
                                <xs:enumeration value="MOBILE"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="Context">
        <xs:complexType>
            <xs:annotation>
                <xs:documentation>The "Context" element describes who has what permissions and
                    contraints within a specific set of circumstances. "Context" includes four
                    attributes, " CONTEXTID", an optional attribute which can be used to assign a
                    unique identifier for the circumstance described, "RIGHTSHOLDERIDS", an optional
                    attribute which provides a means to specifically list the unique identifiers of
                    one or more RightsHolders who are involved in the Context scenario to be
                    described, "CONTEXTCLASS", and "OTHERCONTEXTTYPE". By means of the required
                    "CONTEXTCLASS" attribute, the group is defined to which a given context relates.
                    Enumerated values for this attribute include "ACADEMIC USER", "GENERAL
                    PUBLIC","REPOSITORY MGR", "MANAGED GRP", "INSTITUTIONAL AFFILIATE", "OTHER".
                    Local extensions to "OTHER" context classes can be described in the
                    "OTHERCONTEXTTYPE" attribute, as desired. "Context" also contains three elements
                    which further describe a specified context. The element "UserName" allows the
                    naming of the typical user or group who would use the digital object within the
                    described context. The kind of user being named can be described by means of the
                    attribute "USERTYPE" which has values "INDIVIDUAL", "GROUP", "BOTH", or
                    "UNDEFINED". The element "Permissions" describes a set of uses to which a
                    digital object or part thereof can be put as defined by the rights holder in a
                    given context. "Permissions" has nine attributes which describe the type of
                    permissions including "DISCOVER", "DISPLAY", "COPY", "DUPLICATE", "MODIFY",
                    "DELETE", "PRINT", "OTHER", and "OTHERPERMITTYPE" which allows the addition of
                    local types of permissions not included in the general list. Any restrictions
                    that need to be placed upon a set of permissions are described by the use of the
                    "Constraints" element. The "Constraints" element contains a
                    "ConstraintDescription" sub-element that is used with a set of fixed values
                    corresponding to the Creative Commons licences ("SA", "NC", "ND" and "NC-SA" and
                    "NC-ND"). The "Constraints" element has an attribute "CONSTRAINTTYPE" which
                    characterises the type of restrictions imposed upon the users within a given
                    context. Enumerated values for the CONSTRAINTTYPE attributes include "QUALITY",
                    "FORMAT", "UNIT", "WATERMARK", "PAYMENT", "COUNT", "ATTRIBUTION", "RE-USE",
                    "TIME", "TRANSFERPERMISSIONS", "OTHER".
                    
                    apeMETSRights, 04 November 2013: name="ContextTYPE" changed to name="Context"; @OTHERCONSTRAINTTYPE
                    with value "RESTRICTED ACCESS" has been defined for apeMETS; notes added on values for ConstraintDescription and @otherconstrainttype.
                </xs:documentation>
            </xs:annotation>
            <xs:sequence>
                <xs:element ref="UserName" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            apeMETSRights, 04 November 2013: @type="UserNameTYPE" deleted, name="" changed to ref=""
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element minOccurs="1" maxOccurs="unbounded" ref="Permissions">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            apeMETSRights, 04 November 2013: @type="PermissionTYPE" and @minOccurs changed to ="1" deleted, name="" changed to ref=""
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element ref="Constraints" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            apeMETSRights, 04 November 2013: @type="ConstraintsTYPE" deleted, name="" changed to ref=""
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="CONTEXTID" type="xs:ID" use="optional"/>
            <xs:attribute name="RIGHTSHOLDERIDS" type="xs:IDREFS" use="optional"/>
            <xs:attribute name="CONTEXTCLASS" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="ACADEMIC USER"/>
                        <xs:enumeration value="GENERAL PUBLIC"/>
                        <xs:enumeration value="REPOSITORY MGR"/>
                        <xs:enumeration value="MANAGED GRP"/>
                        <xs:enumeration value="INSTITUTIONAL AFFILIATE"/>
                        <xs:enumeration value="OTHER"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="OTHERCONTEXTTYPE" type="xs:string" use="optional"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="UserName">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                apeMETSRights, 04 November 2013: name="UserNameTYPE" changed to name="UserName"
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute name="USERTYPE">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="INDIVIDUAL"/>
                                <xs:enumeration value="GROUP"/>
                                <xs:enumeration value="BOTH"/>
                                <xs:enumeration value="UNDEFINED"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="Permissions">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                apeMETSRights, 04 November 2013: name="PermissionsTYPE" changed to name="Permissions"
                apeMETSRights, 06 December 2013: moved comments with attribute descriptions to proper annotation elements 
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attribute name="DISCOVER" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Resource is available for searching or other discovery activities.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="DISPLAY" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Rendering, playing, executing the resource.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="COPY" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Making verbatim copy for purposes of re-use of whole or part of the resource and creation of new resource.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="DUPLICATE" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Make exact copy of resource for file or repository management purposes.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="MODIFY" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Annotate, edit, excerpt, embed, extract resource for purposes of re-use or preservation.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="DELETE" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Remove resource from repository for purposes of resource or repository management.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="PRINT" type="xs:boolean">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Rendering the resource onto paper or hard copy.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
            <xs:attribute name="OTHER" type="xs:boolean"/>
            <xs:attribute name="OTHERPERMITTYPE" type="xs:string" use="optional">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        Allows for naming localised permission types.
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="Constraints">
        <xs:annotation>
            <xs:documentation xml:lang="en">
                04 November 2013: name="ConstraintsTYPE" changed to name="Constraints"
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ConstraintDescription" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation xml:lang="en">
                            apeMETSRights, 04 November 2013: xs:complexType with default values added
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:restriction base="xs:anyType">
                                <xs:simpleType>
                                    <xs:restriction base="xs:token">
                                        <xs:enumeration value="SA"/>
                                        <xs:enumeration value="NC"/>
                                        <xs:enumeration value="ND"/>
                                        <xs:enumeration value="NC-SA"/>
                                        <xs:enumeration value="NC-ND"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:restriction>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="CONSTRAINTTYPE">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="QUALITY"/>
                        <xs:enumeration value="FORMAT"/>
                        <xs:enumeration value="UNIT"/>
                        <xs:enumeration value="WATERMARK"/>
                        <xs:enumeration value="PAYMENT"/>
                        <xs:enumeration value="COUNT"/>
                        <xs:enumeration value="RE-USE"/>
                        <xs:enumeration value="ATTRIBUTION"/>
                        <xs:enumeration value="TIME"/>
                        <xs:enumeration value="TRANSFERPERMISSIONS"/>
                        <xs:enumeration value="OTHER"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="OTHERCONSTRAINTTYPE" use="optional">
                <xs:annotation>
                    <xs:documentation xml:lang="en">
                        apeMETSRights, 04 November 2013: attribute with default value "RESTRICTED ACCESS" has been added specifically for apeMETS
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="RESTRICTED ACCESS"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
</xs:schema>
