DPTutils/src/main/resources/eag_2012.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    EAG 2012 Schema
    Version: 0.1e
    Date: 20120828
    Editor: APEx project (www.apex-project.eu)
-->
<xs:schema xmlns="http://www.archivesportaleurope.net/Portal/profiles/eag_2012/" targetNamespace="http://www.archivesportaleurope.net/Portal/profiles/eag_2012/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:import namespace="http://www.w3.org/XML/1998/namespace"
               schemaLocation="http://www.w3.org/2007/08/xml.xsd"/>

    <xs:element name="eag">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="control"/>
                <xs:element ref="archguide"/>
                <xs:element ref="relations"/>
            </xs:sequence>
            <xs:attributeGroup ref="audience"/>
        </xs:complexType>
    </xs:element>

    <xs:attributeGroup name="audience">
        <xs:attribute name="audience" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="external"/>
                    <xs:enumeration value="internal"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:attributeGroup>
    <xs:attributeGroup name="href">
        <xs:attribute name="href" type="xs:anyURI"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="a.xml.common">
        <xs:attribute ref="xml:id"/>
        <xs:attribute ref="xml:lang"/>
    </xs:attributeGroup>
    <xs:attributeGroup name="a.xml.common.base">
        <xs:attributeGroup ref="a.xml.common"/>
        <xs:attribute ref="xml:base"/>
    </xs:attributeGroup>


    <!-- ###############
       CONTROL
   ################ -->

    <xs:element name="control">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="recordId"/>
                <xs:element ref="otherRecordId" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="maintenanceAgency"/>
                <xs:element ref="maintenanceStatus"/>
                <xs:element ref="maintenanceHistory"/>
                <xs:element ref="languageDeclarations" minOccurs="0"/>
                <xs:element ref="conventionDeclaration" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="localControl" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="localTypeDeclaration" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="publicationStatus" minOccurs="0"/>
                <xs:element ref="sources" minOccurs="0"/>
            </xs:sequence>
            <xs:attributeGroup ref="a.xml.common.base" />
        </xs:complexType>
    </xs:element>
    <xs:element name="recordId">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:NMTOKEN">
                    <xs:attribute ref="xml:id"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="otherRecordId">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute ref="xml:id"/>
                    <xs:attributeGroup ref="localType"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="localType">
        <xs:attribute name="localType" type="xs:anyURI" />
    </xs:attributeGroup>

    <xs:element name="maintenanceAgency">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="agencyCode"/>
                <xs:element ref="agencyName"/>
                <xs:element ref="otherAgencyCode" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="descriptiveNote" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="maintenanceStatus">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="xs:anyType">
                    <xs:simpleType>
                        <xs:restriction base="xs:token">
                            <xs:enumeration value="cancelled"/>
                            <xs:enumeration value="deleted"/>
                            <xs:enumeration value="deletedMerged"/>
                            <xs:enumeration value="deletedReplaced"/>
                            <xs:enumeration value="deletedSplit"/>
                            <xs:enumeration value="derived"/>
                            <xs:enumeration value="new"/>
                            <xs:enumeration value="revised"/>
                        </xs:restriction>
                    </xs:simpleType>
                    <xs:attribute ref="xml:id"/>
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="maintenanceHistory">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="maintenanceEvent" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attributeGroup ref="a.xml.common"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="maintenanceEvent">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="agent"/>
                <xs:element ref="agentType"/>
                <xs:element ref="eventDateTime"/>
                <xs:element ref="eventType"/>
            </xs:sequence>
            <xs:attributeGroup ref="a.xml.common"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="eventType">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="xs:anyType">
                    <xs:simpleType>
                        <xs:restriction base="xs:token">
                            <xs:enumeration value="created"/>
                            <xs:enumeration value="revised"/>
                            <xs:enumeration value="deleted"/>
                            <xs:enumeration value="cancelled"/>
                            <xs:enumeration value="derived"/>
                            <xs:enumeration value="updated"/>
                            <xs:enumeration value="published"/>
                        </xs:restriction>
                    </xs:simpleType>
                    <xs:attribute ref="xml:id"/>
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="eventDateTime">
        <xs:complexType mixed="true">
            <xs:attributeGroup ref="a.xml.common"/>
            <xs:attribute name="standardDateTime" type="m.data.standardDateTime"/>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="m.data.standardDateTime">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="xs:date">
                    <xs:maxInclusive value="2099-12-31"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="xs:gYear">
                    <xs:maxInclusive value="2099"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="xs:gYearMonth">
                    <xs:maxInclusive value="2099-12"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="xs:dateTime">
                    <xs:maxInclusive value="2099-12-31T23:59:59"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
    <xs:element name="agentType">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="xs:anyType">
                    <xs:simpleType>
                        <xs:restriction base="xs:token">
                            <xs:enumeration value="human"/>
                            <xs:enumeration value="machine"/>
                        </xs:restriction>
                    </xs:simpleType>
                    <xs:attribute ref="xml:id"/>
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="agent">
        <xs:complexType mixed="true">
            <xs:attributeGroup ref="a.xml.common"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="languageDeclarations">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="languageDeclaration" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="languageDeclaration">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="language"/>
                <xs:element ref="script"/>
                <xs:element ref="descriptiveNote" minOccurs="0"/>
            </xs:sequence>
            <xs:attributeGroup ref="a.xml.common"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="language">
        <xs:complexType mixed="true">
            <xs:attributeGroup ref="a.xml.common"/>
            <xs:attribute name="languageCode" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[a-z]{3}"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="script">
        <xs:complexType mixed="true">
            <xs:attributeGroup ref="a.xml.common"/>
            <xs:attributeGroup ref="a.scriptCode"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="a.scriptCode">
        <xs:attribute name="scriptCode">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:pattern value="[A-Z][a-z]{3}"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:attributeGroup>

    <xs:element name="conventionDeclaration">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="abbreviation" minOccurs="0"/>
                <xs:element ref="citation" maxOccurs="unbounded"/>
                <xs:element ref="descriptiveNote" minOccurs="0"/>
            </xs:sequence>
            <xs:attributeGroup ref="a.xml.common"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="abbreviation">
        <xs:complexType mixed="true"/>
    </xs:element>
    <xs:element name="citation">
        <xs:complexType mixed="true">
            <xs:attributeGroup ref="a.xml.common"/>
            <xs:attributeGroup ref="href"/>
            <xs:attribute name="lastDateTimeVerified" type="m.data.standardDateTime"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="localControl">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="term" minOccurs="0" maxOccurs="unbounded"/>
                <xs:choice minOccurs="0">
                    <xs:element ref="date"/>
                    <xs:element ref="dateRange"/>
                </xs:choice>
            </xs:sequence>
            <xs:attributeGroup ref="a.xml.common"/>
            <xs:attributeGroup ref="localType"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="term">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="xs:anyType">
                    <xs:simpleType>
                        <xs:restriction base="xs:token">
                            <xs:enumeration value="simple"/>
                            <xs:enumeration value="extended"/>
                        </xs:restriction>
                    </xs:simpleType>
                    <xs:attribute ref="xml:id"/>
                    <xs:attributeGroup ref="m.entryLanguageAttributes"/>
                    <xs:attribute name="lastDateTimeVerified" type="m.data.standardDateTime"/>
                    <xs:attribute name="vocabularySource" type="xs:anyURI"/>
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="m.entryLanguageAttributes">
        <xs:attributeGroup ref="a.scriptCode"/>
        <xs:attribute ref="xml:lang"/>
        <xs:attribute name="transliteration" type="xs:NMTOKEN"/>
    </xs:attributeGroup>

    <xs:element name="date">
        <xs:complexType mixed="true">
            <xs:attributeGroup ref="a.xml.common"/>
            <xs:attribute name="localType" type="xs:anyURI"/>
            <xs:attributeGroup ref="m.dateSingle"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="m.dateSingle">
        <xs:attribute name="standardDate" type="m.data.standardDate"/>
        <xs:attribute name="notBefore" type="m.data.standardDate"/>
        <xs:attribute name="notAfter" type="m.data.standardDate"/>
    </xs:attributeGroup>
    <xs:element name="dateRange">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="fromDate"/>
                <xs:element ref="toDate"/>
            </xs:sequence>
            <xs:attributeGroup ref="a.xml.common"/>
            <xs:attribute name="localType" type="xs:anyURI"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="fromDate">
        <xs:complexType mixed="true">
            <xs:attributeGroup ref="a.xml.common"/>
            <xs:attributeGroup ref="m.dateSingle"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="toDate">
        <xs:complexType mixed="true">
            <xs:attributeGroup ref="a.xml.common"/>
            <xs:attributeGroup ref="m.dateSingle"/>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="m.data.standardDate">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="xs:date">
                    <xs:maxInclusive value="2099-12-31"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="xs:gYear">
                    <xs:maxInclusive value="2099"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="xs:gYearMonth">
                    <xs:maxInclusive value="2099-12"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>

    <xs:element name="localTypeDeclaration">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="citation"/>
                <xs:element ref="abbreviation" minOccurs="0"/>
                <xs:element ref="descriptiveNote" minOccurs="0"/>
            </xs:sequence>
            <xs:attributeGroup ref="a.xml.common"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="publicationStatus">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="xs:anyType">
                    <xs:simpleType>
                        <xs:restriction base="xs:token">
                            <xs:enumeration value="inProcess"/>
                            <xs:enumeration value="approved"/>
                        </xs:restriction>
                    </xs:simpleType>
                    <xs:attribute ref="xml:id"/>
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="sources">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="source" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attributeGroup ref="a.xml.common.base"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="source">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="sourceEntry" minOccurs="0"/>
                <xs:choice minOccurs="0">
                    <xs:element ref="objectXMLWrap"/>
                    <xs:element ref="objectBinWrap"/>
                </xs:choice>
                <xs:element minOccurs="0" ref="descriptiveNote"/>
            </xs:sequence>
            <xs:attribute ref="xml:id"/>
            <xs:attribute name="lastDateTimeVerified" type="m.data.standardDateTime"/>
            <xs:attributeGroup ref="href"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="sourceEntry">
        <xs:complexType mixed="true">
            <xs:attribute ref="xml:id"/>
            <xs:attributeGroup ref="m.entryLanguageAttributes"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="objectXMLWrap">
        <xs:complexType>
            <xs:group ref="e.anyName"/>
            <xs:attribute ref="xml:id"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="objectBinWrap">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:base64Binary">
                    <xs:attribute ref="xml:id"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:group name="e.anyName">
        <xs:sequence>
            <xs:any processContents="skip"/>
        </xs:sequence>
    </xs:group>

    <xs:element name="agencyCode">
        <xs:complexType mixed="true">
            <xs:attribute ref="xml:id"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="agencyName">
        <xs:complexType mixed="true">
            <xs:attributeGroup ref="a.xml.common"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="otherAgencyCode">
        <xs:complexType mixed="true">
            <xs:attributeGroup ref="localType"/>
            <xs:attribute ref="xml:id"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="descriptiveNote">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="p" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attributeGroup ref="a.xml.common"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="p">
        <xs:complexType mixed="true">
            <xs:attributeGroup ref="a.xml.common"/>
        </xs:complexType>
    </xs:element>


    <!-- ##################
        ARCHGUIDE
    ################### -->


    <xs:element name="archguide">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="identity"/>
                <xs:element ref="desc"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="identity">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="repositorid" minOccurs="0"/>
                <xs:element ref="otherRepositorId" minOccurs="0"/>
                <xs:element ref="autform" maxOccurs="unbounded"/>
                <xs:element ref="parform" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="nonpreform" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="repositoryType" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="repositorid">
        <xs:complexType>
            <xs:attribute name="countrycode" use="required" type="xs:NMTOKEN"/>
            <xs:attribute name="repositorycode" type="xs:NMTOKEN"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="otherRepositorId">
        <xs:complexType mixed="true"/>
    </xs:element>
    <xs:element name="autform">
        <xs:complexType mixed="true">
            <xs:attribute ref="xml:lang"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="parform">
        <xs:complexType mixed="true">
            <xs:attribute ref="xml:lang"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="nonpreform">
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:element ref="useDates"/>
            </xs:sequence>
            <xs:attribute ref="xml:lang"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="useDates">
        <xs:complexType>
            <xs:sequence>
                <xs:group ref="m.dates" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:group name="m.dates">
        <xs:choice>
            <xs:element ref="date"/>
            <xs:element ref="dateRange"/>
            <xs:element ref="dateSet"/>
        </xs:choice>
    </xs:group>
    <xs:element name="dateSet">
        <xs:complexType>
            <xs:sequence>
                <xs:choice>
                    <xs:element ref="date"/>
                    <xs:element ref="dateRange"/>
                </xs:choice>
                <xs:choice maxOccurs="unbounded">
                    <xs:element ref="date"/>
                    <xs:element ref="dateRange"/>
                </xs:choice>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="repositoryType">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="xs:anyType">
                    <xs:simpleType>
                        <xs:restriction base="xs:token">
                            <xs:enumeration value="National archives"/>
                            <xs:enumeration value="Regional archives"/>
                            <xs:enumeration value="Country/local authority archives"/>
                            <xs:enumeration value="Municipal archives"/>
                            <xs:enumeration value="Specialised government archives"/>
                            <xs:enumeration value="Private persons and family archives"/>
                            <xs:enumeration value="Church and religious archives"/>
                            <xs:enumeration value="Business archives"/>
                            <xs:enumeration value="University and research archives"/>
                            <xs:enumeration value="Media archives"/>
                            <xs:enumeration value="Archives of political parties, of popular/labour movement and other non-governmental organisations, associations, agencies and foundations"/>
                            <xs:enumeration value="Specialised non-governmental archives and archives of other cultural (heritage) institutions"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="desc">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="repositories"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="repositories">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="repository" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="repository">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="repositoryName" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="repositoryRole" minOccurs="0"/>
                <xs:element ref="geogarea"/>
                <xs:element ref="location" maxOccurs="unbounded"/>
                <xs:element ref="telephone" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="fax" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="email" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="webpage" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="directions" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="repositorhist" minOccurs="0"/>
                <xs:element ref="repositorfound" minOccurs="0"/>
                <xs:element ref="repositorsup" minOccurs="0"/>
                <xs:element ref="buildinginfo" minOccurs="0"/>
                <xs:element ref="adminhierarchy" minOccurs="0"/>
                <xs:element ref="holdings" minOccurs="0"/>
                <xs:element ref="timetable"/>
                <xs:element ref="access"/>
                <xs:element ref="accessibility" maxOccurs="unbounded"/>
                <xs:element ref="services" minOccurs="0"/>
                <xs:element ref="descriptiveNote" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="repositoryName">
        <xs:complexType mixed="true">
            <xs:attribute ref="xml:lang"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="repositoryRole">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="xs:anyType">
                    <xs:simpleType>
                        <xs:restriction base="xs:token">
                            <xs:enumeration value="Branch"/>
                            <xs:enumeration value="Head quarter"/>
                            <xs:enumeration value="Interim archive"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="geogarea">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="xs:anyType">
                    <xs:simpleType>
                        <xs:restriction base="xs:token">
                            <xs:enumeration value="Africa"/>
                            <xs:enumeration value="Antarctica"/>
                            <xs:enumeration value="Asia"/>
                            <xs:enumeration value="Australia"/>
                            <xs:enumeration value="Europe"/>
                            <xs:enumeration value="North America"/>
                            <xs:enumeration value="South America"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="location">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="country"/>
                <xs:element ref="firstdem" minOccurs="0"/>
                <xs:element ref="secondem" minOccurs="0"/>
                <xs:element ref="municipalityPostalcode"/>
                <xs:element ref="localentity" minOccurs="0"/>
                <xs:element ref="street"/>
            </xs:sequence>
            <xs:attributeGroup ref="localType"/>
            <xs:attribute name="longitude" type="xs:NMTOKEN"/>
            <xs:attribute name="latitude" type="xs:NMTOKEN"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="country">
        <xs:complexType mixed="true">
            <xs:attribute ref="xml:lang"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="firstdem">
        <xs:complexType mixed="true">
            <xs:attribute ref="xml:lang"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="secondem">
        <xs:complexType mixed="true">
            <xs:attribute ref="xml:lang"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="municipalityPostalcode">
        <xs:complexType mixed="true">
            <xs:attribute ref="xml:lang"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="localentity">
        <xs:complexType mixed="true">
            <xs:attribute ref="xml:lang"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="street">
        <xs:complexType mixed="true">
            <xs:attribute ref="xml:lang"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="telephone">
        <xs:complexType mixed="true" />
    </xs:element>
    <xs:element name="fax">
        <xs:complexType mixed="true" />
    </xs:element>
    <xs:element name="email">
        <xs:complexType mixed="true">
            <xs:attributeGroup ref="href" />
        </xs:complexType>
    </xs:element>
    <xs:element name="webpage">
        <xs:complexType mixed="true">
            <xs:attributeGroup ref="href" />
        </xs:complexType>
    </xs:element>

    <xs:element name="directions">
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:element ref="citation" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute ref="xml:lang" />
        </xs:complexType>
    </xs:element>

    <xs:element name="repositorhist">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="descriptiveNote"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="repositorfound">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="date"/>
                <xs:element ref="rule"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="repositorsup">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="date"/>
                <xs:element ref="rule"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="rule">
        <xs:complexType mixed="true">
            <xs:attribute ref="xml:lang"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="buildinginfo">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="building" minOccurs="0"/>
                <xs:element ref="repositorarea" minOccurs="0"/>
                <xs:element ref="lengthshelf" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="building">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="descriptiveNote"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="repositorarea">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="num"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="lengthshelf">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="num"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="num">
        <xs:complexType mixed="true">
            <xs:attribute name="unit" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="squaremetre"/>
                        <xs:enumeration value="linearmetre"/>
                        <xs:enumeration value="site"/>
                        <xs:enumeration value="book"/>
                        <xs:enumeration value="title"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>

    <xs:element name="adminhierarchy">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="adminunit" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="adminunit">
        <xs:complexType mixed="true">
            <xs:attribute ref="xml:lang"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="holdings">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="descriptiveNote" minOccurs="0"/>
                <xs:group ref="m.dates" minOccurs="0"/>
                <xs:element ref="extent" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="extent">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="num"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="timetable">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="opening"/>
                <xs:element ref="closing" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="opening">
        <xs:complexType mixed="true"/>
    </xs:element>
    <xs:element name="closing">
        <xs:complexType mixed="true">
            <xs:attribute name="standardDate" type="m.data.standardDate"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="access">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="restaccess" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="termsOfUse" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attributeGroup ref="question"/>
        </xs:complexType>
    </xs:element>
    <xs:attributeGroup name="question">
        <xs:attribute name="question" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="yes"/>
                    <xs:enumeration value="no"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:attributeGroup>
    <xs:element name="restaccess">
        <xs:complexType mixed="true">
            <xs:attribute ref="xml:lang"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="termsOfUse">
        <xs:complexType mixed="true">
            <xs:attribute ref="xml:lang"/>
            <xs:attributeGroup ref="href"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="accessibility">
        <xs:complexType mixed="true">
            <xs:attribute ref="xml:lang"/>
            <xs:attributeGroup ref="question"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="services">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="searchroom"/>
                <xs:element ref="library" minOccurs="0"/>
                <xs:element ref="internetAccess" minOccurs="0"/>
                <xs:element ref="techservices" minOccurs="0"/>
                <xs:element ref="recreationalServices" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="searchroom">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="contact" minOccurs="0"/>
                <xs:element ref="workPlaces"/>
                <xs:element ref="computerPlaces" minOccurs="0"/>
                <xs:element ref="microfilmPlaces" minOccurs="0"/>
                <xs:element ref="webpage" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="photographAllowance" minOccurs="0"/>
                <xs:element ref="readersTicket" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="advancedOrders" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="researchServices" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="contact">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="telephone" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="email" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="workPlaces">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="num"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="computerPlaces">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="num"/>
                <xs:element ref="descriptiveNote"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="microfilmPlaces">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="num"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="photographAllowance">
        <xs:complexType>
            <xs:simpleContent>
                <xs:restriction base="xs:anyType">
                    <xs:simpleType>
                        <xs:restriction base="xs:token">
                            <xs:enumeration value="depending on the material"/>
                            <xs:enumeration value="no"/>
                            <xs:enumeration value="yes"/>
                            <xs:enumeration value="yes (without flash)"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:restriction>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
    <xs:element name="readersTicket">
        <xs:complexType mixed="true">
            <xs:attributeGroup ref="href"/>
            <xs:attribute ref="xml:lang"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="advancedOrders">
        <xs:complexType mixed="true">
            <xs:attributeGroup ref="href"/>
            <xs:attribute ref="xml:lang"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="researchServices">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="descriptiveNote"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="library">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="contact" minOccurs="0"/>
                <xs:element ref="webpage" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="monographicpub" minOccurs="0"/>
                <xs:element ref="serialpub" minOccurs="0"/>
            </xs:sequence>
            <xs:attributeGroup ref="question"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="monographicpub">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="num"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="serialpub">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="num"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="internetAccess">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="descriptiveNote" minOccurs="0"/>
            </xs:sequence>
            <xs:attributeGroup ref="question"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="techservices">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="restorationlab" minOccurs="0"/>
                <xs:element ref="reproductionser"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="restorationlab">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="descriptiveNote" minOccurs="0"/>
                <xs:element ref="contact" minOccurs="0"/>
                <xs:element ref="webpage" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attributeGroup ref="question"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="reproductionser">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="descriptiveNote" minOccurs="0"/>
                <xs:element ref="contact" minOccurs="0"/>
                <xs:element ref="webpage" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="microformser" minOccurs="0"/>
                <xs:element ref="photographser" minOccurs="0"/>
                <xs:element ref="digitalser" minOccurs="0"/>
                <xs:element ref="photocopyser" minOccurs="0"/>
            </xs:sequence>
            <xs:attributeGroup ref="question"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="microformser">
        <xs:complexType>
            <xs:attributeGroup ref="question"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="photographser">
        <xs:complexType>
            <xs:attributeGroup ref="question"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="digitalser">
        <xs:complexType>
            <xs:attributeGroup ref="question"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="photocopyser">
        <xs:complexType>
            <xs:attributeGroup ref="question"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="recreationalServices">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="refreshment" minOccurs="0"/>
                <xs:element ref="exhibition" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="toursSessions" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="otherServices" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="refreshment">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="descriptiveNote"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="exhibition">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="descriptiveNote" minOccurs="0"/>
                <xs:element ref="webpage" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="toursSessions">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="descriptiveNote" minOccurs="0"/>
                <xs:element ref="webpage" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="otherServices">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="descriptiveNote" minOccurs="0"/>
                <xs:element ref="webpage" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <!-- ##################
       RELATIONS
   ################### -->


    <xs:element name="relations">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="resourceRelation" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="eagRelation" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="resourceRelation">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="relationEntry"/>
                <xs:element ref="descriptiveNote" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="resourceRelationType" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="creatorOf"/>
                        <xs:enumeration value="subjectOf"/>
                        <xs:enumeration value="other"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attributeGroup ref="href"/>
        </xs:complexType>
    </xs:element>

    <xs:element name="relationEntry">
        <xs:complexType mixed="true" />
    </xs:element>

    <xs:element name="eagRelation">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="relationEntry" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="descriptiveNote" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute name="eagRelationType" use="required">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="hierarchical-child"/>
                        <xs:enumeration value="hierarchical-parent"/>
                        <xs:enumeration value="temporal-earlier"/>
                        <xs:enumeration value="temporal-later"/>
                        <xs:enumeration value="associative"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attributeGroup ref="href"/>
        </xs:complexType>
    </xs:element>
</xs:schema>

































